<!DOCTYPE html>
<html lang="en">
<head>
<title>Contato</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="images/icons/favicon.ico" />

<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">

<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">

<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">

<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">

<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">

<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">

<meta name="robots" content="noindex, follow">
<script nonce="57491645-145f-470d-9d51-465bd63ef483">try{(function(w,d){!function(b,c,d,e){b[d]=b[d]||{};b[d].executed=[];b.zaraz={deferred:[],listeners:[]};b.zaraz.q=[];b.zaraz.f=function(f){return async function(){var g=Array.prototype.slice.call(arguments);b.zaraz.q.push({m:f,a:g})}};for(const h of["track","set","debug"])b.zaraz[h]=b.zaraz._f(h);b.zaraz.init=()=>{var i=c.getElementsByTagName(e)[0],j=c.createElement(e),k=c.getElementsByTagName("title")[0];k&&(b[d].t=c.getElementsByTagName("title")[0].text);b[d].x=Math.random();b[d].w=b.screen.width;b[d].h=b.screen.height;b[d].j=b.innerHeight;b[d].e=b.innerWidth;b[d].l=b.location.href;b[d].r=c.referrer;b[d].k=b.screen.colorDepth;b[d].n=c.characterSet;b[d].o=(new Date).getTimezoneOffset();if(b.dataLayer)for(const o of Object.entries(Object.entries(dataLayer).reduce(((p,q)=>({...p[1],...q[1]})),{})))zaraz.set(o[0],o[1],{scope:"page"});b[d].q=[];for(;b.zaraz.q.length;){const r=b.zaraz.q.shift();b[d].q.push(r)}j.defer=!0;for(const s of[localStorage,sessionStorage])Object.keys(s||{}).filter((u=>u.startsWith("_zaraz"))).forEach((t=>{try{b[d]["z_"+t.slice(7)]=JSON.parse(s.getItem(t))}catch{b[d]["z_"+t.slice(7)]=s.getItem(t)}}));j.referrerPolicy="origin";j.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(b[d])));i.parentNode.insertBefore(j,i)};["complete","interactive"].includes(c.readyState)?zaraz.init():b.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document)}catch(e){throw fetch("/cdn-cgi/zaraz/t"),e;};</script></head>
<body>
<div class="container-contact100">
<div class="wrap-contact100">
<form class="contact100-form validate-form">
<span class="contact100-form-title">
Contato
</span>
<label class="label-input100" for="first-name">Nome *</label>
<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
<input id="first-name" class="input100" type="text" name="first-name" placeholder="Primeiro Nome">
<span class="focus-input100"></span>
</div>
<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
<input class="input100" type="text" name="last-name" placeholder="Sobrenome">
<span class="focus-input100"></span>
</div>
<label class="label-input100" for="email">Email *</label>
<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
<input id="email" class="input100" type="text" name="email" placeholder="Ex. example@email.com">
<span class="focus-input100"></span>
</div>
<label class="label-input100" for="phone">Número</label>
<div class="wrap-input100">
<input id="phone" class="input100" type="text" name="phone" placeholder="Ex. 00 00000-0000">
<span class="focus-input100"></span>
</div>
<label class="label-input100" for="message">Mensagem *</label>
<div class="wrap-input100 validate-input" data-validate="Message is required">
<textarea id="message" class="input100" name="message" placeholder="Mensagem"></textarea>
<span class="focus-input100"></span>
</div>
<div class="container-contact100-form-btn">
<button class="contact100-form-btn">
  Enviar mensagem
</button>
</div>
</form>
<div class="contact100-more flex-col-c-m" style="background-image: url('https://symmetryco.com/wp-content/uploads/2020/09/Hospital-Ward.jpg');">
<div class="flex-w size1 p-b-47">
<div class="txt1 p-r-25">
<span class="lnr lnr-map-marker"></span>
</div>
<div class="flex-col size2">
<span class="txt1 p-b-20">
Endereço
</span>
<span class="txt2">
Av. Parque das Flores, 218, Ponta Verde, Maceió/AL
</span>
</div>
</div>
<div class="dis-flex size1 p-b-47">
<div class="txt1 p-r-25">
<span class="lnr lnr-phone-handset"></span>
</div>
<div class="flex-col size2">
<span class="txt1 p-b-20">
Contato
</span>
<span class="txt3">
+55 3029-5012
</span>
</div>
</div>
<div class="dis-flex size1 p-b-47">
<div class="txt1 p-r-25">
<span class="lnr lnr-envelope"></span>
</div>
<div class="flex-col size2">
<span class="txt1 p-b-20">
  Suporte geral
</span>
<span class="txt3">
<a href="/cdn-cgi/l/email-protection" class="_cf_email_" data-cfemail="1e7d71706a7f7d6a5e7b667f736e727b307d7173">[CENTRALMED@GMAIL.COM]</a>
</span>
</div>
</div>
</div>
</div>
</div>
<div id="dropDownSelect1"></div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="vendor/animsition/js/animsition.min.js"></script>

<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="vendor/select2/select2.min.js"></script>
<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>

<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>

<script src="vendor/countdowntime/countdowntime.js"></script>

<script src="js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"8717258c49052714","version":"2024.3.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
</body>
</html>