    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CentralMED | Clínica online</title>
        <link rel="shortcut icon" href="./img/logo-clinica.png" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="container-fluid mx-auto">
            <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="/"><img src="./img/logo-clinica.png" alt="logo-clinica" style="height: 120px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-text" href="/especialidade">Agendamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text" href="/inicial">Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text" href="/contato">Contato</a>
                    </li>
                    <li class="nav-item">
                        <span class="d-inline-flex align-items-center mr-1">
                            <span class="material-symbols-outlined mr-1">person</span>
                            <a class="nav-link nav-text" href="/login">Entrar</a>
                        </span>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/registrar"><button class="btn btn-primary nav-text button-cadastrar">Cadastrar</button></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="./img/hero-bg.jpg" alt="Primeiro Slide">
                    <div class="carousel-caption">
                        <h3>Cuide da sua saúde com médicos online!</h3>
                        <p>Evite filas, salas de espera e custos com deslocamento.</p>
                        <p>Aqui você tem acesso a saúde de qualidade por um preço justo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="espec">
            <div class="row p-5">
                <div class="col-md-6">
                    <h2>Agende com médicos especialistas</h2>
                    <p>Selecione a especialidade, o profissional e a data/horário mais conveniente para realizar sua teleconsulta:</p>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/especialidade"><button class="btn btn-primary button-especialidade" id="button-especialidade">Todas especialidades</button></a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="card mb-4">
                    <img class="card-img-top" src="https://medico24hs.com.br/wp-content/uploads/2022/05/Clinica-Medica.svg" style="height: 50px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Clínico Geral</h5>
                    </div>
                </div>
                <div class="card mb-4">
                    <img class="card-img-top" src="https://medico24hs.com.br/wp-content/uploads/2022/05/Ginecologia.svg" style="height: 50px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ginecologia</h5>
                    </div>
                </div>
                <div class="card mb-4">
                    <img class="card-img-top" src="https://medico24hs.com.br/wp-content/uploads/2022/05/Pediatria.svg"  style="height: 50px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pediatria</h5>
                    </div>
                </div>
                <div class="card mb-4">
                    <img class="card-img-top" src="https://medico24hs.com.br/wp-content/uploads/2022/05/Psiquiatria.svg" style="height: 50px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Psiquiatria</h5>
                    </div>
                </div>
                <div class="card mb-4">
                    <img class="card-img-top" src="https://medico24hs.com.br/wp-content/uploads/2022/05/Urologia.svg" style="height: 50px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Urologia</h5>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <div class="consult d-flex align-items-center">
            <img src="https://medico24hs.com.br/wp-content/uploads/2020/04/Medico24hs_Home_ComoFunciona_Responsivo-768x504.jpg" alt="img-exempl">
            <div class="consult-text flex-column justify-content-end ml-4">
                <h2>Como funciona a consulta online?</h2>
                <p style="color: #495257;">Realizar sua teleconsulta está mais rápido e fácil. Receber apoio profissional para sua saúde está mais acessível do que nunca!</p>
                <ol>
                    <li>Escolha sua modalidade de atendimento, sendo o plantão ou o agendamento com um médico da especialidade de sua escolha;</li>
                    <li>Caso opte pelo agendamento, escolha o horário que gostaria de ser atendido;</li>
                    <li>Agora, é a vez de escolher como deseja realizar o pagamento, oferecemos PIX e cartão de crédito;</li>
                    <li>No momento do atendimento, certifique-se de que está em um local com bom sinal de wi-fi, microfone e câmera funcionando, e inicie a sua sessão.</li>
                </ol>
                <a href="/login"><button class="btn btn-primary" style="background-color: #0da2c5; width: 250px; height: 45px; border-radius: 25px;">Quero ser atendido!</button></a>
            </div>
        </div>

        <div class="acess-plat text-center mt-5">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h2 style="font-size: 35px;">Descomplique o acesso à sua consulta médica com a teleconsulta</h2>
                    <p style="font-size: 18px; color: #495257;">Torne-se paciente do CentralMED e conecte-se aos benefícios que essa relação oferece. <br> Realize o cadastro e comece já a investir no seu maior bem: VOCÊ!</p>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center mt-md-4">
                  <a href="/login"><button class="btn btn-primary mr-3" style="background-color: #0da2c5; width: 250px; height: 45px; border-radius: 25px;">Acesse plantão 24h</button></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="perg-freq">
          <h2 class="mb-5" style="font-size: 45px;">Perguntas frequentes</h2>
          <div class="pergunta d-flex align-items-center mb-4">
            <div class="mr-3" style="font-size: 25px;">O valor da consulta varia com a modalidade:</div>
            <span onclick="toggleAnswer(1)" class="material-symbols-outlined simbolos-add icon-pergunta">add_circle</span>
        </div>        
          <div class="resposta" id="resposta1" style="display: none;">
              <ol>
                  <li style="font-size: 18px;">O preço da consulta agendada é determinado por cada profissional, <a href="https://plataforma.medico24hs.com.br/agendamento">clique aqui e veja os valores</a>.</li>
                  <li style="font-size: 18px;">A consulta por plantão possui preço fixo mais acessível, <a href="https://plataforma.medico24hs.com.br/plantao">confira aqui os valores</a>.</li>
              </ol>
          </div>
          <hr>
          <div class="pergunta d-flex align-items-center mb-4">
            <div class="mr-3" style="font-size: 25px;">Preciso de e-mail para acessar a plataforma?</div>
            <span onclick="toggleAnswer(2)" class="material-symbols-outlined simbolos-add icon-pergunta">add_circle</span>
        </div>
        
        <div class="resposta" id="resposta2" style="display: none;">
            <p style="color: #495257;">Sim, é necessário ter uma conta de e-mail para criar seu usuário e realizar o login na plataforma. Caso não tenha um email, crie uma conta <a href="https://mail.google.com/mail/u/0/#inbox">neste link pelo Gmail.</a>.</p>
        </div>
        <hr>
        <div class="pergunta d-flex align-items-center mb-4">
            <div class="mr-3" style="font-size: 25px;">Como funciona a receita digital?</div>
            <span onclick="toggleAnswer(3)" class="material-symbols-outlined simbolos-add icon-pergunta">add_circle</span>
        </div>
      <div class="resposta" id="resposta3" style="display: none;">
          <ol>
              <li style="font-size: 18px;">O médico emite a receita eletrônica virtual diretamente em nossa plataforma, através de assinatura digital.</li>
              <li style="font-size: 18px;">O paciente recebe um SMS com um link para a receita, que tem validade nacional. A receita também pode ser utilizada via QR Code ou baixada em PDF para apresentar na farmácia.</li>
              <li style="font-size: 18px;" class="mb-3">Assim, é possível realizar a compra do remédio presencialmente ou a distância, oferecendo conforto e segurança ao paciente.</li>
            <p style="color: #495257;">Todas as prescrições possuem um código único identificador, em que constam os dados do médico e da receita. Portanto, para aqueles medicamentos de uso onde há retenção do receituário, o documento <br> somente poderá ser utilizado uma única vez.</p>
            </ol>
      </div>
      <hr>
      <div class="pergunta d-flex align-items-center mb-4">
        <div class="mr-3" style="font-size: 25px;">É possível que o médico solicite exames pela plataforma?</div>
        <span onclick="toggleAnswer(4)" class="material-symbols-outlined simbolos-add icon-pergunta">add_circle</span>
    </div>
    <div class="resposta" id="resposta4" style="display: none;">
        <p style="color: #495257;">Sim. Essa é mais uma novidade. Agora, nossos médicos podem fazer o pedido de dezenas de tipos de exame diretamente em nossa plataforma, ao final da consulta, entregando mais esse benefício ao paciente.</p>
    </div>
    <hr>
    <div class="pergunta d-flex align-items-center mb-4">
        <div class="mr-3" style="font-size: 25px;">Quais são os métodos de pagamento aceitos?</div>
        <span onclick="toggleAnswer(5)" class="material-symbols-outlined simbolos-add icon-pergunta">add_circle</span>
    </div>
  <div class="resposta" id="resposta5" style="display: none;">
    <p style="color: #495257;">Aceitamos pagamentos por cartão de crédito e PIX, através das empresas Pagar.me e Paypal.</p>
  </div>
      </div>
      
      
      
        
        </div>

        <hr>
        <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i><img src="./img/logo-clinica.png" alt="logo-clinica" style="height: 250px;">
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Links Úteis
                </h6>
                <p>
                  <a href="#!" class="text-reset">Principal</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Contato</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Termo de Compromisso</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Política de Privacidade</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                <p><i class="fas fa-home me-3"></i> Maceió, Alagoas</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  centralMED@outlook.com
                </p>
                <p><i class="fas fa-phone me-3"></i> +55 3223-5478</p>
                <p><i class="fas fa-print me-3"></i> +55 82 98714-3554</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright:
          <a class="text-reset fw-bold" href="https://">CentralMED.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
        
        
        
        </div>
    <script src="./js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
    </html>