<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicial</title>

        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">

        <!--css
        <link rel="stylesheet" href="./assets/styles/style.css">-->

        <!--js
        <script src="./assets/scripts/index.js" defer></script>-->
    
    <!--fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" >
        <link rel="stylesheet" href="/css/inicial.css">
  </head>
    <body>
        
        <!--aside bar-->
        <nav class="navbar">            
            <div class="navbar-container">
                <!--logo div-->
                <div class="navbar-logo-div">
                    <a class="navbar-logo-link" href="#">
                       <img src="/img/logo-clinica.png" alt="" style="width: 100px; height: auto;">
                    </a>
                    <button class="navbar-toggler"><i class="fas fa-solid fa-bars"></i></button>
                </div>

                <!--search input-->
                

                <!--item list-->
                <ul class="menu-list">   
                    <li class="menu-item">                        
                        <a class="menu-link" href="/agendar">
                            <i class="fas fa-solid fa-table"></i>
                            <span class="menu-link-text">Agendar</span>                            
                        </a>
                    </li>
                    <li class="menu-item">                        
                        <a class="menu-link" href="/listaConsultas">
                            <i class="fas fa-solid fa-search"></i>
                            <span class="menu-link-text">Lista de Consultas</span>    
                        </a>
                    </li>
                    <li class="menu-item">                        
                        <a class="menu-link" href="/planos.ejs">
                            <i class="fas fa-solid fa-credit-card"></i>
                            <span class="menu-link-text">Planos</span>    
                        </a>
                    </li>
                </ul>
            </div>

            <!--div user info-->
            <div class="user-container">
                <div class="user-info">
                    <i class="fas fa-solid fa-user-secret"></i>
                    <div class="user-details">
                        <h3 class="user-name"></h3>
                        <p class="user-occupation">Veterinary</p>
                    </div>
                </div>
                <a class="logout-btn" href="#">
                    <i class="fas fa-sharp fa-regular fa-arrow-right-from-bracket"></i>
                </a>
            </div>
        </nav>

        
        <!--dashboard-->
        <main class="dashboard">
            <div class="nav2">
                
                    <li><a href="/agendar">Agendar</a></li>
                    <li><a href="/listaConsultas">Lista de Consultas</a></li>
                    <li><a href="#">Planos</a></li>
                    <li class="fa fa-sign-out" aria-hidden="true"><a href="/logout"></a></li>
                </div>

                <div class="container">
                  <div class="card">
                    <div class="face face1">
                      <h3>Consultas</h3>
                    </div>
                    <div class="face face2">
                      <p>Succulents tbh selvage af, etsy DIY waistcoat you probably haven't heard of them stumptown cloud bread. Hot chicken man braid normcore, selfies flannel gluten-free lyft fashion axe kickstarter 3 wolf moon.</p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="face face1">
                      <h3>Medicos</h3>
                    </div>
                    <div class="face face2">
                      <p>Succulents tbh selvage af, etsy DIY waistcoat you probably haven't heard of them stumptown cloud bread. Hot chicken man braid normcore, selfies flannel gluten-free lyft fashion axe kickstarter 3 wolf moon.</p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="face face1">
                      <h3>Joelma</h3>
                    </div>
                    <div class="face face2">
                      <p>Succulents tbh selvage af, etsy DIY waistcoat you probably haven't heard of them stumptown cloud bread. Hot chicken man braid normcore, selfies flannel gluten-free lyft fashion axe kickstarter 3 wolf moon.</p>
                  </div>
                </div>
            </div>
        </main>
        <script>
            //elements 
const btnToggler = window.document.querySelector(".navbar-toggler"); 
const inputSearch = window.document.querySelector(".navbar-search"); 
const iconSearch = window.document.querySelector("#icon-search");
const navbar = window.document.querySelector(".navbar");

//events
btnToggler.addEventListener('click', () => {
    navbar.classList.toggle('active'); 
});

inputSearch.addEventListener('click', () => {
    if(!navbar.classList.contains("active")) {
        navbar.classList.add('active'); 
    }
});

iconSearch.addEventListener('click', () => {
    if(!navbar.classList.contains("active")) {
        navbar.classList.add('active'); 
    }
});
document.addEventListener("DOMContentLoaded", function() {
    var consultasLink = document.getElementById("consultas-link");
    consultasLink.addEventListener("click", function(event) {
        event.preventDefault(); // Evita o comportamento padrão do link (navegar para uma nova página)
        window.location.href = "lista-consulta.ejs"; // Redireciona o usuário para a página de consultas
    });
});
        </script>
    </body>
</html>

